body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.hero-page {
  background-color: #353d40;
}

.nav-container {
  margin-top: 4%;
}

.myNav {
  margin-right: 12%;
}

.nav-item {
  margin-right: 28px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.card {
  background-color: #003f63;
  box-shadow: 0px 9px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  position: relative;
  top: 144px;
  width: 75%;
  height: 68%;
}

.content {
  margin-top: 3.75rem;
  margin-left: 40px;
}

.greet {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.37rem;
  letter-spacing: 0.1rem;
  color: #d9d9d9;
}

.heading {
  font-size: 3.4375rem;
}
.main {
  color: #f2b138;
}

.sub {
  color: #d9d9d9;
}

.short-desc {
  color: #a1a5a6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.363rem;
  line-height: 132.4%;
  padding-top: 2.125rem;
  width: 44.378rem;
}

.cta-btn {
  background-color: #f2b138;
  color: #353d40;
  font-family: "Raleway", sans-serif;
  font-size: 1.175rem;
  margin-top: 29px;
  width: 13.75rem;
}

.about-page {
  background-color: chartreuse;
}

/* Small Mobiles =========================================================== */
@media (max-width: 480px) {
  .card {
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    top: 10%;
    width: 100%;
  }
  .content {
    margin-left: 0px;
  }

  .card h3 {
    font-size: 0.8em;
  }

  .heading {
    font-size: 1.855rem;
  }

  .short-desc {
    width: 19.378rem;
  }

  .cta-btn {
    background-color: #f2b138;
    color: #353d40;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    margin-top: 29px;
    width: 9.75rem;
  }

  /* ========= */
}
